<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pawsome Care</title>
  <link rel="stylesheet" type="text/css" href="/styles/reset.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <header>
    <h1>Pawsome Care for your pets!</h1>
  </header>
  <nav>
    <a href="/">Home</a>
  </nav>
  <main>
    <aside>
      <h2>Login</h2>
    </aside>
    <div class="Mainpage">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  {{!-- script for homepage/main page functionality --}}
  {{!-- <script src="/js/logout.js"></script> --}}
  {{/if}}
</body>

</html>