<div class="">
    <div class="">
        <h2>Dumb Cat Moment </h2>
    </div>
    <div class="">
        <h4>Category: Cats</h4>
        <h4>Type: Funny</h4>
        {{!-- not sure how to get user name from userID yet --}}
        <h3>User: user1</h3>
        <h4>Comments: total number </h3>
    </div>
    <div class="">
        <h2> How to feed my cat his meds?</h2>
    </div>
    <div class="">
        <h4>Category: Cats</h4>
        <h4>Type: Advice</h4>
        {{!-- not sure how to get user name from userID yet --}}
        <h3>User: user1</h3>
        <h4>Comments: total number </h3>
    </div>


</div>
